
<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/img/logo.png" alt="Logo" class="login-logo" />
  </div>
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Ingresar</ion-button>

    <ion-item lines="none">
      <ion-button color="medium" (click)="goToContrareset()">¿Olvidaste tu contraseña?</ion-button>
    </ion-item>
  </form>
  <div class="version">
    <ion-label>V:1.0</ion-label>
  </div>
</ion-content>
